PORT=3030
NODE_ENV=development

DB_CONNECTION=mongoose
MONGODB_URI=mongodb://webtalkuser:strongpassword@localhost:27017/webtalkdb
DB_HOST=localhost
DB_USER=webtalkuser
DB_PASS=strongpassword
DB_NAME=webtalkdb
DB_PORT=27017

JWT_SECRET="asjhaytfs754dyghgaewersdfsdf763hsdk"
JWT_EXPIRES_IN="3d"
CORS_ORIGINS=http://localhost:4040